{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark bg-gradient fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">RepenseRh</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'company:company' %}">Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'employee:list_employee' %}">Funcionários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"
                        href="{% url 'departament:list_departament' %}">Departamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'documents:document-list' %}">Documentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'ouvertime_record:ouver-time' %}">Banco de
                        horas</a>
                </li>
                {% endif %}

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

            </form>
            {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.get_username }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/accounts/logout/"><img
                                src="{% static 'bootstrap-5.0.0-beta1-dist/bootstrap-icons-1.3.0/arrow-bar-left.svg' %}"
                                alt=""> Sair</a></li>
                    <li><a class="dropdown-item" href="{% url 'core:perfil' %}"><img
                                src="{% static 'bootstrap-5.0.0-beta1-dist/bootstrap-icons-1.3.0/person-square.svg' %}"
                                alt=""> Perfil</a></li>
                </ul>
            </div> |    
            <img src="{{ user.employee.photo.url }}" width="50px" height="50px" class="rounded-circle" alt="...">
            {% else %}
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Acessar
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/accounts/login/"><img
                                src="{% static 'bootstrap-5.0.0-beta1-dist/bootstrap-icons-1.3.0/arrow-bar-up.svg' %}"
                                alt=""> Entrat</a></a></li>
                    <li><a class="dropdown-item" href="#">Informações</a></li>
                </ul>
            </div>
            {% endif %}

        </div>
    </div>
</nav>