{% extends 'base.html' %}

{% block title %}
Employee
{% endblock title %}


{% block main %}
<ul class="nav bg-secondary">
    <li class="nav-item">
        <a class="nav-link active text-light" aria-current="page" href="{% url 'ouvertime_record:ouver-time-create' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                class="bi bi-app-indicator" viewBox="0 0 16 16">
                <path
                    d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z" />
                <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            </svg>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-light" aria-current="page" href="{% url 'ouvertime_record:report-lab' %}">
           Download Pdf utilizando ReportLab
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-light" aria-current="page" href="{% url 'ouvertime_record:report-lab' %}">
           Download Pdf 
        </a>
    </li>
</ul>
<div class="table-responsive">
    <table class="table">
        <thead class="bg-secondary text-light">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Reason</th>
                <th scope="col">Employee</th>
                <th scope="col">Hours</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for time in object_list %}
            <tr>
                <th scope="row">{{ time.id }}</th>
                <td>{{ time.reason }}</td>
                <td>{{ time.employee }}</td>
                <td>{{ time.hours }}</td>
                <td>
                    <a href="{% url 'ouvertime_record:ouver-time-update' time.id %}"
                        class="btn btn-outline-primary btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-folder-check" viewBox="0 0 16 16">
                            <path
                                d="M.5 3l.04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                            <path
                                d="M15.854 10.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708l1.146 1.147 2.646-2.647a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </a>
                    <a href="{% url 'ouvertime_record:ouver-time-delete' time.id %}"
                        class="btn btn-outline-danger btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-folder-x" viewBox="0 0 16 16">
                            <path
                                d="M.54 3.87L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zm6.339-1.577A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                            <path
                                d="M11.854 10.146a.5.5 0 0 0-.708.708L12.293 12l-1.147 1.146a.5.5 0 0 0 .708.708L13 12.707l1.146 1.147a.5.5 0 0 0 .708-.708L13.707 12l1.147-1.146a.5.5 0 0 0-.708-.708L13 11.293l-1.146-1.147z" />
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}


</form>