{% extends 'base.html' %}
{% load static %}

{% block title %}
Employee
{% endblock title %}


{% block main %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Update">

    {% if object %}
    <a href="{% url 'ouvertime_record:ouver-time-delete' object.id %}" class="btn btn-danger">Delete</a>
    <button type="button" class="btn btn-primary" onclick="utilizouHoraExtra({{ object.id }})">Marcar como
        utilizado</button>
    <p id="mensagem">sss</p>
    <p id="hours">{{ object.employee.sum_overtime }}</p>
    {% endif %}


</form>



{% endblock main %}


{% block jquery %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/funcoes-ajax.js' %}"></script>

{% endblock jquery %}



</form>