{% extends 'base.html' %}
{% load static %}

{% block title %}
Company | {{ block.super }}
{% endblock title %}






{% block main %}
<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Primary Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Warning Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Success Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            Colaboradores da empresa <a href="{% url 'company:company_update' user_employee.company.id %}">{{  user_employee.company.name }}</a>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Departamento</th>
                            <th>Eventos</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Departamento</th>
                            <th>Eventos</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for company in companys %}
                        <tr>
                            <td>{{ company.name }}</td>
                            <td>{{ company.company.name }}</td>
                            <td>

                                {% for dep in company.departament.all %}
                                <a href="{% url 'departament:departament-update' dep.id %}">{{ dep }}</a>
                                {% endfor %}

                            </td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                    <a class="btn btn-outline-success"
                                        href="{% url 'employee:employee_update' company.id %}">Editar</a>
                                    <a class="btn btn-outline-danger"
                                        href="{% url 'employee:employee_delete' company.id %}">Excluir</a>
                                </div>
                            </td>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {% endblock main %}