{% extends 'base.html' %}

{% block title %}
Employee
{% endblock title %}


{% block main %}
<ul class="nav bg-secondary">
    <li class="nav-item">
        <a class="nav-link active text-light" aria-current="page" href="{% url 'employee:employee_create' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-plus"
                viewBox="0 0 16 16">
                <path
                    d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                <path fill-rule="evenodd"
                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
            </svg>
        </a>
    </li>
</ul>
<div class="table-responsive">
    <table class="table">
        <thead class="bg-secondary text-light">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">User</th>
                <th scope="col">Departament</th>
                <th scope="col">Company</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for employee in object_list %}
            <tr>
                <th scope="row">{{ employee.id }}</th>
                <th scope="row"><a href="{% url 'employee:employee_update' employee.id %}">{{ employee.name }}</a></th>
                <td>{{ employee.user }}</td>
                <td>
                    {% for departament in employee.departament.all %}
                    - {{ departament }} -
                    {% endfor %}
                </td>
                <td>{{ employee.company.name }}</td>
                <td>
                    <a href="{% url 'employee:employee_delete' employee.id %}" class="btn btn-outline-danger btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-x" viewBox="0 0 16 16">
                            <path
                                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                            <path fill-rule="evenodd"
                                d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}


</form>