{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% include 'partials/_head.html' %}
    <title>

        {% block title %}
        Repense_RH
        {% endblock title %}

    </title>
</head>

<body>



    {% include 'partials/_nav.html' %}
    {% include 'partials/_message.html' %}
    <main class="container-fluid">
       
        {% block main %}

        {% endblock main %}

    </main><!-- /.container -->


    {% include 'partials/_footer.html' %}
    
    {% block jquery %}
        
    {% endblock jquery %}
        

</body>

</html>