{% extends 'base.html' %}
{% load static %}

{% block title %}
Perfil | {{ block.super }}
{% endblock title %}



{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="card text-center">
                <div class="card-header">
                    Perfil
                </div>
                <div class="card-body">
                    <h5 class="card-title">Gerenciar Perfil</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center">
                <div class="card-header">
                    Empresa
                </div>
                <div class="card-body">
                    <h5 class="card-title">Gerenciar Empresa</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'company:company' %}" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center">
                <div class="card-header">
                    Funcionários
                </div>
                <div class="card-body">
                    <h5 class="card-title">Funcionários</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'employee:list_employee' %}" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm">
            <div class="card text-center">
                <div class="card-header">
                    Departamento
                </div>
                <div class="card-body">
                    <h5 class="card-title">Departamento</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'departament:list_departament' %}" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center">
                <div class="card-header">
                    Documentos
                </div>
                <div class="card-body">
                    <h5 class="card-title">Documentos</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'documents:document-list' %}" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">1</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3</div>
      </div>
</div>
{% endblock main %}