{% extends 'base.html' %}
{% load static %}

{% block title %}
Perfil | {{ block.super }}
{% endblock title %}



{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center bg-secondary">Painel</h1>
        </div>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <center>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/9.jpeg' %}" width="100px" height="100px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Perfil</h5>
                    <p class="card-text">Perfil Usuário</p>
                    <a href="" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </center>
    </div>
    <div class="col-sm">
        <center>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/5.jpeg' %}" width="100px" height="100px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Empresa</h5>
                    <p class="card-text">Gerenciar Empresa</p>
                    <a href="{% url 'company:company' %}" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </center>
    </div>
    <div class="col-sm">
        <center>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/2.jpeg' %}" width="100px" height="100px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Funcionários</h5>
                    <p class="card-text">Gerenciar Funcionários</p>
                    <a href="{% url 'employee:list_employee' %}" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </center>
    </div>
    <div class="col-sm">
        <center>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/7.jpeg' %}" width="100px" height="100px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Departamento</h5>
                    <p class="card-text">Gerenciar Departamentos</p>
                    <a href="{% url 'departament:list_departament' %}" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </center>
    </div>
</div>
</div>
{% endblock main %}